/* body {
    background-color: black;
} */

@font-face {
    font-family: "Game Over";
    src: url('game_over.ttf');
}

.pacman-container {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}

.column {
    flex: 1;
}

.left {
    display: flex;
    flex-direction: column;
    order: 1;
    background-color: black;
    color: white;
    font-size: 60px;
    font-family: 'Game Over';
    align-items: center;
    text-align: center;
    max-height: 626px;
    position: relative;
    top: 98px;
    left: 50px;
    min-width: 400px;
}

.instructions-start {
    padding-top: 50px;
    padding-right: 10px;
}

.instructions-move {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-right: 10px;
}

.instructions-move-img {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-right: 10px;
}

.pacman {
    width: 30px;
}

.arrows,
.wasd {
    width: 150px;
    margin-bottom: -50px;
}

.red-ghost, 
.orange-ghost,
.blue-ghost,
.pink-ghost {
    width: 25px;
}

.vulnerable-ghost {
    width: 25px;
}

.pacman-title {
    text-align: center;
}

.pacman-title-img {
    width: 480px;
}

.pacman-container {
    display: flex;
    flex-direction: row;
}

.pacman-title-game-container {
    display: flex;
    flex-direction: column;
    order: 2;
}

#pacman-game {
    position: relative;
    z-index: 1;
}

.right {
    display: flex;
    flex-direction: column;
    order: 3;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'Game Over';
    font-size: 50px;
    max-height: 626px;
    position: relative;
    top: 98px;
    right: 50px;
}

.score-music-container {
    background-color: black;
    position: relative;
    z-index: 2;
    padding-top: 15px;
    margin-bottom: -30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#score {
    color: white;
    font-size: 50px;
    padding-left: 50px;
    font-family: 'Game Over';
}

#volume-off {
    width: 20px;
    padding-right: 50px;
    cursor: pointer;
}

#volume-on {
    width: 25px;
    padding-right: 50px;
    cursor: pointer;
}

.lives-container {
    display: flex;
    background-color: black;
    z-index: 2;
    margin-top: -25px;
    min-height: 38px;
}

#lives {
    padding-left: 50px;
    position: relative;
}

#lives img {
    width: 25px;
    padding: 3px;
}

.small-dot-container {
    padding: 5px;
}

.big-dot-container {
    padding: 5px;
}

.vulnerable-ghost-container {
    padding: 5px;
}

.small-dot {
    width: 8px;
}

.big-dot {
    width: 15px;
}

.bad,
.good {
    font-size: 70px;
    text-align: center;
}

.bad-container {
    padding-bottom: 50px;
    padding-top: 50px;
}

.good-container {
    text-align: center;
}

.made {
    margin-top: auto;
    padding: 10px;
}

.github-linkedin-container {
    margin-top: auto;
    margin-right: 15px;
}

.github-link,
.linkedin-link {
    text-decoration: none
}

.github,
.linkedin {
    width: 40px;
    padding: 10px;
}

@media only screen and (max-width: 1200px) {
    .left, 
    .right {
        display: none;
    }

    .pacman-title-game-container {
        max-height: 600px;
        max-width: 600px;
    }
}